
<div class="main-wrapper"><div class="app" id="app">
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>
        <article class="content responsive-tables-page">

            <div class="title-block">
                <h1 class="title"> Chi tiết hóa đơn </h1>
                <p class="title-description"> Người dùng: {{format_name user.firstname user.lastname}} </p>
                <p class="title-description"> Số đơn hàng: {{total.total}} </p>
            </div>
            {{#each list}}
                <section class="section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-title-block" id="{{this.BillID}}">
                                        <h3 class="title"> ID Bill: {{this.BillID}}
                                        <a class="btn btn-primary btn-sm rounded-s" name="ChangeStatus"> Change Status </a>
                                        </h3>
                                        <h4 class="title">
                                            Trạng thái
                                        <select class="selectpicker" id="status"  >
                                            {{#each AmountStatus}}
                                                        {{#if this.check}}
                                                            <option value="{{this.idstatus}}" selected>{{this.Name}}</option>
                                                        {{else}}
                                                            <option value="{{this.idstatus}}">{{this.Name}}</option>
                                                        {{/if}}
                                            {{/each}}
                                        </select>
                                        </h4>
                                    </div>
                                    <section class="example">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Product Name</th>
                                                    <th>Size</th>
                                                    <th>Quantity</th>
                                                    <th>Total Price</th>
                                                    <th>Order Date</th>
                                                   <th>Status</th>

                                                </tr>
                                                </thead>
                                                {{#each this.listProduct}}
                                                    <tbody>
                                                    <tr>
                                                        <td>{{this.OrderID}}</td>
                                                        <td>{{this.ProName}}</td>
                                                        <td>{{this.Size}}</td>
                                                        <td>{{this.Amount}}</td>
                                                        <td>{{format_number this.Total}}</td>
                                                        <td>{{time this.OrderDate}}</td>
                                                        <td>{{this.Name}}</td>
                                                    </tr>
                                                    </tbody>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {{/each}}
        <div class="modal fade" id="modal-media">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Media Library</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body modal-tab-container">
                        <ul class="nav nav-tabs modal-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                            </li>
                        </ul>
                        <div class="tab-content modal-tab-content">
                            <div class="tab-pane fade" id="gallery" role="tabpanel">
                                <div class="images-container">
                                    <div class="row"> </div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                <div class="upload-container">
                                    <div id="dropzone">
                                        <form action="https://modularcode.io/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                            <div class="dz-message-block">
                                                <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Insert Selected</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="confirm-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fa fa-warning"></i> Alert</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to do this?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
</body>

</html>

<div class="modal fade" id="success-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-check"></i> &nbsp;Thông tin Bill</h4>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Đã cập nhật trạng thái thành công !!</p>
            </div>
            <!-- <div class="modal-footer">
                 <button type="button" id="submitUpdate" class="btn btn-primary" data-dismiss="modal">Yes</button>
                 <button type="button" id="no" class="btn btn-secondary" data-dismiss="modal">No</button>
             </div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{{#section 'cssAdmin'}}

{{/section}}
{{#section 'jsAdmin'}}
    <script>
            {{#each list}}
            /*document.getElementById({{this.BillID}}).addEventListener("click",function (){
                const temp=this.getElementsByTagName('select');
                console.log(temp[0].options)
                console.log(parseInt(temp[0].options.selectedIndex)-1);
                console.log({{this.BillID}});*/
               /* console.log($(this #status option:selected).val())*/
           /* })*/
            document.getElementById({{this.BillID}}).getElementsByTagName("a")[0].addEventListener("click",function (){
                console.log(document.getElementById({{this.BillID}}).parentElement.getElementsByTagName("section")[0])
                $.post("/admin/change-status-bill",
                        {
                            userid:{{this.User}},
                            id:{{this.BillID}},
                            status:document.getElementById({{this.BillID}}).getElementsByTagName('select')[0].options.selectedIndex

                        },function (data){
                            if(data){
                                document.getElementById({{this.BillID}}).
                                parentElement.
                                getElementsByTagName("section")[0].innerHTML=data;
                                $("#success-modal").modal('show')
                            }
                        })
            })
            {{/each}}
    </script>
    <script>
    </script>
{{/section}}
