<main>
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="col-xl-12">
                    <div class="container rounded bg-white my-4 border border-danger">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="py-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="btn btn-default btn-rounded" href="/profile">Quay lại</a>
                                    </div>
                                </div>
                            <div class="col-md-12">
                                <div class="col-md-12 border-right">
                                    <div class="d-flex flex-column align-items-center">
                                        <a href="http://google.com">
                                            <img class="rounded-circle mb-1 mt-5 Sirv" width="300px" height="300px" data-src="{{user.image}}" data-options="autostart:created">
                                        </a>
                                        <span class="font-weight-bold">{{user.firstname}} {{user.lastname}}</span>
                                        <span class="text-black-50">{{user.email}}</span>
                                        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#editProfileForm">
                                            Edit profile</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal start -->
    <div class="modal fade" id="editProfileForm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Change avatar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editProfile" method="post">
                    <div class="container rounded bg-white mb-3">
                    <div class="row">
                        <div class="col-md-12 border-right">
                            <form method="post"  enctype="multipart/form-data">
                            <div class="d-flex flex-column align-items-center justify-content">

                                <span class="font-weight-bold">{{user.firstname}} {{user.lastname}}</span>
                                <input id="input-700" multiple type="file"  name="image" >
                            </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal end -->
</main>

{{#section 'css'}}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}
{{#section 'js'}}
    <script src="https://cdn.tiny.cloud/1/p1fwo21pu5sn0tp0vy4twc8487p3m1at2uussi5efjxyyylq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/themes/fa/theme.min.js" integrity="sha512-ywJxJU8HX2ZyXikj/iM4gW2vWIhnGCjfehz9kMU0oqo0GDdr3w8E2E3DZlzgIBTNKU8jovkg09pWktiw0mOFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function() {
            $("#input-700").fileinput({
                overwriteInitial: false,
                validateInitialCount: true,
                initialPreviewAsData: true,
                previewFileType: "image",
                browseClass: "btn btn-success",
                browseLabel: "Chọn hình",
                browseIcon: "<i class=\"bi-file-image\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Xóa",
                removeIcon: "<i class=\"bi-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload hình",
                uploadIcon: "<i class=\"bi-upload\"></i> ",
                uploadUrl: "/upload-avatar-profile",
                initialPreviewConfig: [
                    {
                        caption: "People-1.jpg",
                        description: 'This is a representative placeholder description for this image.',
                        size: 576237,
                        width: "120px",
                        url: "/site/file-delete",
                        key: 1
                    },
                ],
                theme: 'fa',
                language: 'vi',
                /*  allowedFileExtensions: ['jpg'],*/
            }).on('fileuploaded', function (e, params) {
                $.post("/post-avatar-sirv", {
                   userID:"{{user.UserID}}"
                }, function (data) {
                    if (data) {

                    }
                });
            });
        });
    </script>
{{/section}}
