

<main>
    <!--? slider Area Start -->
    <img class="d-block w-100" src="https://file3.qdnd.vn/data/images/0/2021/10/02/nguyenthao/qdnd%20vaccine%20covid-19.jpeg?dpi=150&quality=100&w=870"  alt="First slide" style="width: 800px">
    <!-- slider Area End-->
    <!-- ? New Product Start -->
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle mb-70 text-center">
                        <h2>New product</h2>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active">
                    <div class="row">
                        {{#each this.arrivalList}}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <img src="{{Image}}" alt="">
                                        <div class="img-cap">
                                            <span>Add to cart</span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="/product/{{ProID}}">{{ProName}}</a></h3>
                                        <span>{{format_number Price}}</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
             </div>
        </div>
    </section>
    <!--  New Product End -->
    <!--? Gallery Area Start -->

    <!-- Gallery Area End -->
    <!--? Popular Items Start -->
    <div class="popular-items section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-70 text-center">
                        <h2>Popular products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each this.popularList}}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center">
                            <div class="popular-img">
                                <img src="{{Image}}" href="/product/{{ProID}}" alt="{{ProName}}">
                                <div class="img-cap">
                                    <span>Add to cart</span>
                                </div>
                                <div class="favorit-items">
                                    <span class="flaticon-heart"></span>
                                </div>
                            </div>
                            <div class="popular-caption">
                                <h3><a href="/product/{{ProID}}">{{ProName}}</a></h3>
                                <span>{{format_number Price}}</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="/shop" class="btn view-btn1">View More Products</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    <!--? Video Area Start -->
  


    <!-- Shop Method End-->
</main>