{{#section "css"}}
<link rel="stylesheet" href="/public/assets/css/pagination.css">
<link rel="stylesheet" href="/public/assets/css/jquery-ui.min.css">
<link rel="stylesheet" href="/public/assets/css/price_range_style.css">
{{/section}}
{{#section "js"}}
<script src="/public/assets/js/pagination.min.js"></script>
<script src="/public/assets/js/jquery-ui.min.js"></script>

<script>
    let pagination = {};
    let currPage = 1;
    let initialized = false;
    let productOrder = "newest";
    let productFilter = { price: { min: {{ priceRange.min }}, max: {{ priceRange.max }} }, categories: {{{listCatID}}}, name: "" };

    function getProducts() {
        $.ajax({
            url: "/products",
            type: "GET",
            dataType: "json",
            data: {
                page: currPage,
                limit: $("#select1 option:selected").val(),
                order: productOrder,
                filters: productFilter,
            },
            success: function (result) {
                pagination = result.pagination;
                let products = result.listProduct;
                if (!initialized) {
                    initialized = true;
                    $('#pagination-container').pagination({
                        dataSource: [...Array(pagination.totalItems).keys()],
                        pageSize: pagination.limit,
                        callback: function (data, pagination) {
                            currPage = pagination.pageNumber;
                            getProducts();
                        },
                        triggerPagingOnInit: false,
                        className: 'paginationjs-theme-blue paginationjs-big',
                    });
                }
                let html = "";
                for (let i = 0; i < products.length; i++) {
                    html += '<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6"> <div class="single-popular-items mb-50 text-center"> <div class="popular-img"> <a href="/product/' + products[i].ProID + '"> <img src="' +
                        products[i].Image + '" alt="Card image cap"> </a> <div class="img-cap" href="/product/' + products[i].ProID + '"><span>See details</span> </div> <div class="favorit-items"> <span class="flaticon-heart"></span> </div> </div>' +
                        '<div class="popular-caption"> <h3><a href="/product/' + products[i].ProID + '">' + products[i].ProName + '</a></h3> <span>' + products[i].Price + '</span> </div> </div> </div>';
                }
                $("#products").html(html);
            }
        });
    }

    $('document').ready(function () {
        getProducts();
        $("#select1").change(function () {
            currPage = 1;
            initialized = false;
            getProducts();
        });

        $("#sort").children().each(function () {
            $(this).click(function () {
                productOrder = $(this).attr("id");
                currPage = 1;
                initialized = false;
                getProducts();
            });
        });

        $("#categories").children().each(function () {
            $(this).click(function () {
                let category = Number($(this).attr("id").split("-")[1]);
                if (productFilter.categories.includes(category)) {
                    productFilter.categories.splice(productFilter.categories.indexOf(category), 1);
                } else {
                    productFilter.categories.push(category);
                }
                if (productFilter.categories.length === 0) {
                    $("#products").empty();
                } else {
                    currPage = 1;
                    initialized = false;
                    getProducts();
                }
            });
        });

        $("#slider-range").slider({
            range: true,
            orientation: "horizontal",
            min: {{ priceRange.min }},
            max: {{ priceRange.max }},
            values: [{{ priceRange.min }}, {{ priceRange.max }}],
            step: ({{ priceRange.max }} - {{ priceRange.min }}) / 100,
            slide: function (event, ui) {
                if (ui.values[0] > ui.values[1]) {
                    return false;
                }
                $("#min_price").val(ui.values[0]);
                $("#max_price").val(ui.values[1]);
                productFilter.price.min = ui.values[0];
                productFilter.price.max = ui.values[1];
            },
            stop: function (event, ui) {
                currPage = 1;
                initialized = false;
                getProducts();
            },
        });

        $("#name-search").focusout(function () {
            if (productFilter.name !== $(this).val()) {
                productFilter.name = $(this).val();
                currPage = 1;
                initialized = false;
                getProducts();
            }
        });
    });
</script>
{{/section}}


<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Shop</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="row justify-content-between">
                <div id="slider-range" class="price-filter-range mb-5" name="rangeInput">
                    <input type="number" min={{{priceRange.min}}} max={{{priceRange.max}}} id="min_price"
                        oninput="validity.valid||(value={{priceRange.min}});" value={{{priceRange.min}}}
                        class="price-range-field mt-4" />
                    <input type="number" min={{{priceRange.min}}} max={{{priceRange.max}}} id="max_price"
                        oninput="validity.valid||(value={{priceRange.max}});" value={{{priceRange.max}}}
                        class="price-range-field mt-4 ml-2" />
                </div>
                <div class="col text-right">
                    <div class="form-check" id="categories">
                        {{#each listCat}}
                            <input class="ml-3" class="form-check-input" type="checkbox" id="cat-{{this.CatID}}" checked>
                            {{this.CatName}}
                        {{/each}}
                    </div>
                    <div>
                        <input class="form-control mb-2" type="text" placeholder="Search" id="name-search" style="width: 200px; float: right;">
                    </div>
                </div>
            </div>
            <div class="row product-btn justify-content-between mb-40">
                <div class="properties__button">
                    <!--Nav Button  -->
                    <nav>
                        <div class="nav nav-tabs" id="sort" role="tablist">
                            <a class="nav-item nav-link active" id="newest" data-toggle="tab" href="#" role="tab"
                                aria-controls="newest" aria-selected="true">New Arrivals</a>
                            <a class="nav-item nav-link" id="price-desc" data-toggle="tab" href="#" role="tab"
                                aria-controls="price-desc" aria-selected="false">Price high to low</a>
                            <a class="nav-item nav-link" id="price-asc" data-toggle="tab" href="#" role="tab"
                                aria-controls="price-asc" aria-selected="false">Price low to high</a>
                        </div>
                    </nav>
                    <!--End Nav Button  -->
                </div>
                <!-- Grid and List view -->
                <div class="grid-list-view">
                </div>
                <!-- Select items -->
                <div class="select-this">
                    <form action="#">
                        <div class="select-itms">
                            <label for="select1"></label>
                            <select name="select1" id="select1">
                                <option selected value="12">12 per page</option>
                                <option value="24">24 per page</option>
                                <option value="36">36 per page</option>
                                <option value="48">48 per page</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row" id="products"> </div>
                </div>
            </div>
            <!-- Render pagination -->
            <div id="pagination-container">

            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Latest Products End -->
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>